html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: #4B0082;
}

.login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #ffff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px #000;
    border-radius: 20px;
}

.login-box h2 {
    text-align: center;
    margin: 30px;
    padding: 0;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 0;
    font-size: 16px;
    color:#000;
    margin-bottom: 30px;
    border:none; 
    border-bottom: 1px solid gray;
    outline: none;
    width: 100%;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    font-size: 16px;
    color: rgb(54, 54, 54);;
    pointer-events: none;
    transition: .5s;

}

.login-box .user-box input:focus ~ label, 
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #4B0082;
    font-weight: bold;
    font-size: 12px;
}

.login-box form a{
    position: relative;
    display: inline-block; 
    padding: 10px 20px;
    color:#ffffff;
    background-color: #4B0082;
    border-radius: 15px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -40%);
}

.login-box a:hover {
    background: #c899eb;
    color:#4B0082;
    font-weight:lighter;
    border-radius: 14px;
    box-shadow: 0 0 4px #000;
}

.lnr-eye {
    position:absolute;
    top: -4px;
    right: 10px;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10%;
    padding: 0;
}
.create-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #ffff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px #000;
    border-radius: 20px;
}


.create-box h2 {
    text-align: center;
    margin: 15%;
    padding: 0;
}

.create-box .nome-box {
    position: relative;
}

.create-box .nome-box input {
    
}

