html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a6a0ae;
}

.faixa {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    margin-left: 0 20px;
    padding: 10px;
    background-color: #371B58;
    width: 100%;
    height: 12%;
}

.faixa-imagem {
    height: 55px;
    margin-left: 30px;
}

.container {
    width: 80%; /*largura*/
    height: 80vh; /*altura, o vh significa viewport, uma altura de 80 é = a 80% da página total*/
    display: flex;
    box-shadow: 2px 2px 10px transparent;
    padding: 3rem; /*1rem é = a 16px*/
    margin-left: 100px;
    margin-right: 20px;

}

.form-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 20px;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header {
    display: flex;
    text-align: center;
}

.form-header .title {
    text-align: center;
    margin-top: 10px;
    transform: translate(35%, -70%);
    text-transform: uppercase;
}


.create-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 320px;
    border-bottom: transparent;
    width: 60%;
    padding: 25px;
    background:#f5d472;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(124, 124, 124);
    border-radius: 15px;
    margin-bottom: 60px;

}

.create-box-container a:hover {
    background: #c899eb;
    color:#fff;
    font-weight:lighter;
    border-radius: 14px;
    box-shadow: 0 0 4px #fff;
}

.nome-box {
    margin: 5px;
    margin-bottom: 10px;
    padding: 0;
    border: 10px solid #fff;
    border-radius: 10px ;
    box-shadow: 2px 2px 5px #616061;
    font-weight: 400;
}

.input-name {
    height: 30px;
    width: 300px;
    border: none;
    border-bottom: 2px transparent;
    
    /*width: 80px;*/
}


input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}


.email-box {
    margin: 5px;
    margin-bottom: 10px;
    padding: 0;
    border: 10px solid #fff;
    border-radius: 10px ;
    box-shadow: 2px 2px 5px #616061;
    font-weight: 400;
}

.phone-box {
    margin: 5px;
    margin-bottom: 10px;
    padding: 0;
    border: 10px solid #fff;
    border-radius: 10px ;
    box-shadow: 2px 2px 5px #616061;
    font-weight: 400;
}

.password-box {
    margin: 5px;
    margin-bottom: 10px;
    padding: 0;
    border: 10px solid ;
    border-radius: 10px ;
    box-shadow: 2px 2px 5px #616061;
    font-weight: 400;
}

.confirme-pass {
    margin-top: 5px;
    margin-bottom: 10px;
    /*margin-right: 60px;*/
    padding: 0;
    border: 10px solid #fff;
    border-radius: 10px ;
    box-shadow: 2px 2px 5px #616061;
    font-weight: 400;
}

.create-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color:#f5d472;
    font-weight: bolder;
    background-color: #371B58;
    border-radius: 15px;
    font-size: 16px;
    margin-top: 20px;
    text-decoration: none;

    /*left: 12%;
    margin-right: -50%;
    transform: translate(-50%, -40%);*/
    
}

.create-button a:hover {
    background: #c899eb;
    color:#fff;
    font-weight:lighter;
    border-radius: 14px;
    box-shadow: 0 0 4px #fff;
}